

API_ID=2974783
API_HASH=a3537655d2ff757d4ef1793b1c063c2d
SESSION=1BVtsOHQBu2xEDC6iCfEJFaz03ZiaZoxOyZntllssMDWjHom7pvr0IDtY9z3mDfWE3QorEku4qLO4e6cEfLmNKRsc-Vc-_a79lYLzivhoTpQ0MHD1_LjlQ-gA87yk_AQ2y9S_LN-SNhAr89z_DWTNhTL4dDnIjVqjXNk0egkyhSi-HKmDwTkvSXEenqRTC21RSIdKn5sWTLvXC51bUp3UzB2ej3ERns7XRnQyMbIccGhMJGrR1r_fL17YHk7OMvyowFeBqsWmuSZq0s_vAgxUcL7vVycCeP2z3z63yXwpUm8rfMojAedMz9ffGZaooD_Cwxr1411vkn_8v9ou49ZKQE0sFQJl4ug=


# [OPTIONAL]

REDIS_URI=
REDIS_PASSWORD=
LOG_CHANNEL=
BOT_TOKEN=
