

API_ID=2974783
API_HASH=a3537655d2ff757d4ef1793b1c063c2d
SESSION=1BVtsOGsBu0b8u4lRNFxUy3Z6dd08kCmuaZgZv3qrXepWZpbbwRclkCQZELVsOcF505ZL-RN76L02dtvkYGQwOJ5z5Z56lj-JvseTABJnCO5I7cmKkDbx8q_eJOjN4FMIZy9ne5C_Fua4I8IpHvWbxXzpEn1yJouKo8z4DI6FCpiAaxsCt32kGzdSAezuYmWPUqgKVS_x-wQ-omxihptSyRABWq1mQwuwfMKyemazNdPLSmSCBe75JVtMC0KgHjVNAfOZq8aya3c-SZVYP7G_fmx87rSYau5kPN84RuFy_xRB7Lc5cwE0LZKoZq1XBuCJe6pOq0TbhVBNNmAJ3BzDyzJ0C7ikwcM=


# [OPTIONAL]

REDIS_URI=
REDIS_PASSWORD=
LOG_CHANNEL=
BOT_TOKEN=
